 <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <span class="red">*</span>
        <input type="text" class="form-control" ng-model="currentUser.profile.name" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <span class="red">*</span>
        <input type="email" class="form-control" ng-model="currentUser.emails[0].address" required>
      </div>

      <div class="form-group" style="position: relative;">
        <label for="exampleInputEmail1">Birthdate</label>
        <span class="red">*</span>
        <input class="set-due-date form-control" id="dob-pro" type="text" ng-model="currentUser.profile.birthdate" required>
      </div>
      
      <script type="text/javascript">
        $('#dob-pro').datetimepicker({
          format: 'DD/MM/YYYY'
        });
      </script>

      <div class="form-group">
        <label for="exampleInputPassword1">Gender</label>
        <span class="red">*</span>
        <select ng-model="currentUser.profile.gender" required>
          <option class="male">male</option>
          <option class="female">female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Blood Group</label>
        <span class="red">*</span>
        <select ng-model="currentUser.profile.blood_group" required>
          <option class="AB+">AB+</option>
          <option class="AB-">AB-</option>
          <option class="A+">A+</option>
          <option class="A-">A-</option>
          <option class="B+">B+</option>
          <option class="B-">B-</option>
          <option class="O+">O+</option>
          <option class="O-">O-</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Profile Status</label>
        <span class="red">*</span>
        <select ng-model="currentUser.profile.profile_status" required>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Allergies (if any)</label>
        <input type="text" ng-model="currentUser.profile.allergies" class="form-control">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Identification Mark</label>
        <input type="text" ng-model="currentUser.profile.identification_mark" class="form-control">
      </div>

      <button class="btn btn-default" ng-click="update()">Update</button>